## Comparison operators(Relational operator)

- '>'(Greater than)

- '<'(Less than)

- '>='(Greater than or equal to)

- '<='(Less than or equal to)

- '=='(equal to)

- '!='(not equal to)

In [2]:
a=10
b=20
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a==b)
print(a!=b)

False
True
False
True
False
True

In [3]:
a="Arman"
b="Aryan"
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a==b)
print(a!=b)

False
True
False
True
False
True

In [7]:
print(10<20)
print(10<20<30)
print(10<20<30>40<50)

True

True
False

## Logical operators
#### (AND,OR,NOT)

##### 1.)Boolean type behaviour

- and->if both arguments are True then only result is True else False

- or->if atleast one argument is True then result is True

- not->complement

In [8]:
print(True and False)
print(True or False)
print(not True)
print(not False)

False
True
False
True

##### 2.)Non-Boolean type behaviour
- 0 means False

- non-zero means True

- empy string False

- x and y ->if x evaluates to False then return x otherwise return y

In [35]:
print( 10 and 20)
print(0 and 20)
print(1 and 20)

20
0
20

- x or y ->if x is evaluates to True then result is x otherwise result is y

In [13]:
print(0 or 20)
print(1 or 2)

20
1

##  Ternary or conditional operator

- x =first value if condition else second value 

- if condition True then first value will be considered else second value will be considered

In [15]:
a=10
b=20
x=30 if a>b else 40
print(x)

30

## Assignment operators
-  we can use assignment operator to assign value to the variable

In [16]:
x=10
print(x)
x+=10
print(x)
x-=10
print(x)
x*=10
print(x)
x/=10
print(x)
x%=10
print(x)
x//=10
print(x)
x**=10
print(x)

10
20
10
100
10.0
0.0
0.0
0.0

## Membership operation
- To check wether the given object is present in the given collection(string,list,tuple,dict,set)

- in->returns True if given object present in the specified collection

- not in->returns True if given object present in the specified collection

In [21]:
x="Hello learning python is very easy"
print("i" in x)
print("python" in x)
print("d" in x)
print("d" not in x)

True
True
False
True

In [27]:
print(7 and 0 or 5 and 3 or 7/0)

3

print(7 and 0 or 5 and 3 and 7/0)

In [34]:
print(5==5.0 or 10 and 5 or 5==5.0 and 7!=7.0)

True

In [32]:
a=5
p=7
a+=p
a-=p
p*=a
p/=a
print(p)
print(a)

7.0
5

In [40]:
new=(1 and "True") and ("False" or Train)
str="This statement is"+new
print("This is false" if "False" in new else "This is true")

This is false

#### ord():converts character to ASCII
#### chr():converts ASCII to character

In [44]:
print(ord('a'))
print(chr(65))

35
A

In [46]:
for i in range (65,91):
    print((chr(i)))

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

In [47]:
for i in range (26):
    print(chr(65+i))

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

##### Q.Write a python program to convert given days into year,month and days

In [5]:
no_of_days=int(input("Enter number of days:"))
year=(no_of_days//365)
left_days=no_of_days%365
month=int(left_days/30)
days=left_days%30
print("Year",year,"Month",month,"Days",days)

Enter number of days:450
Year 1 Month 2 Days 25

##### Q.Avaialble denominations
Amount->880

In [12]:
amount =int(input("Enter amount:"))
note500=amount//500
note200=(amount%500)//200
note100=((amount%500)%200)//100
note50=(((amount%500)%200)%100)//50
note20=((((amount%500)%200)%100)%50)//20
note10=(((((amount%500)%200)%100)%50)%20)//10

print("500",note500)
print("200",note200)
print("100",note100)
print("50",note50)
print("20",note20)
print("10",note10)

Enter amount:1020
500 2
200 0
100 0
50 0
20 1
10 0